html, body {
    margin: 0;
    padding: 5;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: left; /* Center horizontally */
    align-items: left;     /* Center vertically */
}

header {
    margin: 0;
    padding: 0;
    height: auto;
    display: flex;
    justify-content: right; /* Center horizontally */
    align-items: right;     /* Center vertically */
}

#slider-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align the elements to the right */
    margin-left: auto; /* Push the container to the right */
    width: 200px; /* Optional: set a fixed width for the container */
}

input[type="range"] {
    width: 100%; /* Make the slider take up the full width of the container */
}

em {
    text-align: right; /* Right align the (any time) text */
}

time {
    text-align: right; /* Right align the time text */
}
     
#map {
    width: 100%;    /* Adjust width to your desired size */
    height: 100%;   /* Adjust height to your desired size */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for effect */
    border-radius: 8px; /* Optional: rounded corners */
}

#map svg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#map circle {
    fill: steelblue;
    fill-opacity: 0.6;
    stroke: white;
    pointer-events: auto;
}