html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    flex-direction: column;  /* Stack elements vertically */
}

header {
    margin: 0;
    padding: 0;
    width: 100%; /* Make header take full width */
    display: flex;
    justify-content: space-between; /* Space out h1 and slider container */
    align-items: center; /* Align items vertically in the center */
    gap: 1em; /* Add space between elements */
}

#slider-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align the elements to the right */
    flex-grow: 1; /* Allow the container to take up remaining space */
    max-width: 600px; /* Optional: set a maximum width for the container */
}

input[type="range"] {
    width: 100%; /* Make the slider take up the full width of the container */
    max-width: 600px;
}

em {
    text-align: right; /* Right align the (any time) text */
}

time {
    text-align: right; /* Right align the time text */
}
     
#map {
    width: 100%;    /* Adjust width to your desired size */
    height: 100%;   /* Adjust height to your desired size */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for effect */
    border-radius: 8px; /* Optional: rounded corners */
}

#map svg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#map circle {
    fill: steelblue;
    fill-opacity: 0.6;
    stroke: white;
    pointer-events: auto;
}